
/* login */
.signContainer {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signForm {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 50vw;
    padding: 100px 30px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signForm form {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.signForm input[type="text"], .signForm input[type="password"] {
    border: none;
    padding: 10px;
    border-bottom: 1px solid black;
    min-width: 300px;
}

.signForm input[type="submit"]{
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffc833;
    color: #086aaf;
    cursor: pointer;
    padding: 5px;
}

.signForm input[type="file"] {
    display: none;
}

.signForm h2 {
    margin-bottom: 50px;
}
.signForm .user_photo_wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.signForm .user_photo_wrap img{
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.signForm .user_photo_wrap label#id_photo{
    cursor: pointer;
}
.signForm .user_photo {
    width: 150px;
    height: 150px;
}
