{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/account/sign.css" %}">
{% endblock %}
{% block content %}
<div class="signContainer">
    <div class="signForm signinForm">
        <h2>로그인</h2>
        <form action="{% url "accounts:signin" %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="submit" value="로그인">

        </form>
    </div>
</div>

{% endblock content %}