nav.navbar {
    padding: 10px 0;
}
nav.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
}

.nav_auth {
    display: flex;
    align-items: center;
}