{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/product/edit.css" %}">
<script src="{% static 'js/edit.js' %}"></script>
{% endblock %}
{% block content %}
<div class="productEditWrap">
    <div class="imgWrap">
        <img src="{% static "images/metamong.png" %}" alt="포켓몬 사진" >
    </div>
    <div class="inputWrap">
        <form action="{% url 'products:create_product' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             <p>
                <label for="id_name">카드 이름:</label>
                <input type="text" name="name" maxlength="10" required id="id_name">
            </p>
            <p>
                <label for="id_photo">카드 사진:</label>
                <input type="file" name="photo" accept="image/*" required id="id_photo">
            </p>
            <p>
                <label for="id_hashtags_input">해시태그:</label>
                <div class="hashtags">
                    <div class="hashtags_wrap">
                    </div>
                    <div class="hashtags_input">
                        <input type="text" placeholder="해시태그 입력" id="id_hashtags_input">
                    </div>
                    <input type="hidden" name="hashtags">
                </div>
                <p class="input_error"></p>
            </p>
            <input type="submit" value="등록하기">
        </form>
    </div>
</div>
{% endblock content %}