{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/product/edit.css" %}">
{% endblock %}
{% block content %}
<div class="productEditWrap">
    <div class="imgWrap">
        <img src="{% static "images/metamong.png" %}" alt="포켓몬 사진" >
    </div>
    <div class="inputWrap">
        <form action="{% url 'products:create_product' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="등록하기">
        </form>
    </div>
</div>
{% endblock content %}