{% extends "base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
<section class="banner">
    <div>
        <img src="{% static "images/banner.png" %}"  alt="Product 1">
    </div>
</section>

<section class="product-list">
    <div class="container">
        <div class="card_wrap">
            <div class="card">
                <img src="{{"media/images/SV8_026.png"}}" alt="Product 1">
            </div>
            <div class="card">
                <img src="{{"media/images/SV8_033.png"}}" alt="Product 2">
            </div>
            <div class="card">
                <img src="{{"media/images/SV8_047.png"}}" alt="Product 3">
            </div>
            <div class="card">
                <img src="{{"media/images/SV8_026.png"}}" alt="Product 1">
            </div>
            <div class="card">
                <img src="{{"media/images/SV8_033.png"}}" alt="Product 2">
            </div>
            <div class="card">
                <img src="{{"media/images/SV8_047.png"}}" alt="Product 3">
            </div>
        </div>
        <!-- Add more products as needed -->
    </div>
</section>
{% comment %} 
<ul>
    {% for product in products %}
        <li>
            <div>
                <a href="{% url 'products:detail_product' pk=product.id %}">상품 보기</a>
            </div>
            <div>상품 ID : {{ product.id }}</div>
            <div>상품 가격 : {{ product.price }}</div>
            <div>상품 타입 : {{ product.type }}</div>
            <br>
        </li>
    {% endfor %}
</ul> {% endcomment %}
{% endblock content %}