.detailContainer {
    margin-top: 50px;
}

.detailMainWrap {
    display: flex;

}

.detailMainWrap .img_wrap img {
    min-width: 400px;
    width: 400px;
    height: auto;
}

.detailMainWrap .img_wrap{
    margin-right: 50px;
}
.detailMainWrap .info_wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* info_wrap */
.detailMainWrap .infoWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detailMainWrap  .info_wrap .card_name {
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 20px;
    /* background-color: #22B24B; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detailMainWrap .info_wrap .card_name .poke_types {
    width: auto;
    min-width: 50px;
    min-height: 50px;
    max-width: 110px;
    display: flex;
    gap: 10px;
}
.detailMainWrap .info_wrap .card_name .poke_types div.icon{
    display: none;
}

.detailMainWrap .info_wrap .card_type {
    color: white;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}
.detailMainWrap .info_wrap .card_abilities {
    padding: 20px;
    display: none;
    min-height: 100px;
}

.detailMainWrap .info_wrap .card_abilities .ability{
    display: none;
}

.card_abilities .ability_title {
    margin-bottom: 10px;
}
.card_abilities span.title {
    font-size: 17px;
}

.detailMainWrap .info_wrap .card_flavor {
    color: white;
    padding: 20px 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.info_wrap.normal div > *{
    color: black;
}

/* author */
.detailSubWrap {
    display: flex;
    justify-content: space-between;
}
.detailSubWrap .author {
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.authorWrap a{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
}
.authorWrap .author_img {
    width: 70px;
    height: 70px;
}
.authorWrap .author_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.authorWrap .author_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.followWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listBtn {
    display: flex;
    justify-items: center;
    align-items: center;
}

.card_action button {
    border: 1px solid #bbb;
    padding: 10px 20px;
    height: 50px;
}
.card_action button.viewBtn {
    color: black;
    font-size: 14px;
    cursor: auto;
}
.card_action button.viewBtn span{
}
.card_action button.wishBtn.active span{
    background-image: url(/static/images/ic_wish_on.svg);
}
.card_action button.wishBtn span{
    display: inline-block;
    padding-left: 35px;
    color: #666;
    line-height: 26px;
    background: url(/static/images/ic_wish_off.svg) no-repeat left center / 26px auto;

}