.productEditWrap {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.productEditWrap div.imgWrap {
    min-width: 400px;
    width: 400px;
    cursor: pointer;
}
.productEditWrap div.imgWrap img {
    width: 100%;
    height: auto;
}