.icon {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin:0;
    transition: 200ms all;
}

.icon:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.poke_types .icon.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.poke_types .icon.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.poke_types .icon.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.poke_types .icon.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.poke_types .icon.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.poke_types .icon.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.poke_types .icon.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.poke_types .icon.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.poke_types .icon.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.poke_types .icon.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.poke_types .icon.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.poke_types .icon.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.poke_types .icon.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poke_types .icon.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.poke_types .icon.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.poke_types .icon.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.poke_types .icon.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.poke_types .icon.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}
/* wrap */
.info_wrap.bug .card1{
    background-color: #5E6910;
}
.info_wrap.bug .card2{
    background-color: #91A119;
}

.info_wrap.dark .card1{
    background-color: #257A87;
}
.info_wrap.dark .card2{
    background-color: #11313A;
}

.info_wrap.dragon .card1{
    background-color: #5060E1;
}
.info_wrap.dragon .card2{
    background-color: #343E92;
}

.info_wrap.electric .card1{
    background-color: #FFD403;
}
.info_wrap.electric .card2{
    background-color: #F8BB06;
}

.info_wrap.fire .card1{
    background-color: #ED193A;
}
.info_wrap.fire .card2{
    background-color: #DA232A;
}

.info_wrap.fairy .card1{
    background-color: #E64B8B;
}
.info_wrap.fairy .card2{
    background-color: #D95D8C;
}

.info_wrap.fighting .card1{
    background-color: #C3682E;
}
.info_wrap.fighting .card2{
    background-color: #CA4513;
}

.info_wrap.flying .card1{
    background-color: #81B9EF;
}
.info_wrap.flying .card2{
    background-color: #54789B;
}

.info_wrap.ghost .card1{
    background-color: #704170;
}
.info_wrap.ghost .card2{
    background-color: #492A49;
}

.info_wrap.grass .card1{
    background-color: #1FA536;
}
.info_wrap.grass .card2{
    background-color: #22B24B;
}

.info_wrap.ground .card1{
    background-color: #915121;
}
.info_wrap.ground .card2{
    background-color: #5E3515;
}

.info_wrap.ice .card1{
    background-color: #3DCEF3;
}
.info_wrap.ice .card2{
    background-color: #28869E;
}

.info_wrap.normal .card1{
    background-color: #D6D5D8;
}
.info_wrap.normal .card2{
    background-color: #C1B6B1;
}

.info_wrap.poison .card1{
    background-color: #994dcf;
}
.info_wrap.poison .card2{
    background-color: #994dcf;
}

.info_wrap.psychic .card1{
    background-color: #EF4179;
}
.info_wrap.psychic .card2{
    background-color: #9B2A4F;
}

.info_wrap.rock .card1{
    background-color: #BF8232;
}
.info_wrap.rock .card2{
    background-color: #BF8232;
}

.info_wrap.steel .card1{
    background-color: #B6BAA7;
}
.info_wrap.steel .card2{
    background-color: #A09785;
}

.info_wrap.water .card1{
    background-color: #00B2EB;
}
.info_wrap.water .card2{
    background-color: #0786C8;
}
/* tag */
.hashtags span.bug{
    background-color: #91A119;
}

.hashtags span.dark{
    background-color: #11313A;
}

.hashtags span.dragon{
    background-color: #343E92;
}

.hashtags span.electric{
    background-color: #F8BB06;
}

.hashtags span.fire{
    background-color: #DA232A;
}

.hashtags span.fairy{
    background-color: #D95D8C;
}

.hashtags span.fighting{
    background-color: #CA4513;
}

.hashtags span.flying{
    background-color: #54789B;
}

.hashtags span.ghost{
    background-color: #492A49;
}

.hashtags span.grass{
    background-color: #22B24B;
}

.hashtags span.ground{
    background-color: #5E3515;
}

.hashtags span.ice{
    background-color: #28869E;
}

.hashtags span.normal{
    background-color: #C1B6B1;
}

.hashtags span.poison{
    background-color: #994dcf;
}

.hashtags span.psychic{
    background-color: #9B2A4F;
}

.hashtags span.rock{
    background-color: #BF8232;
}

.hashtags span.steel{
    background-color: #A09785;
}

.hashtags span.water{
    background-color: #0786C8;
}